body {
    font-family: Roboto;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: #b3d1f7;
}

.main {
    text-align: center;
}

.buttons button {
    font-size: 25px;
    padding: 15px;
    margin: 30px;
    width: 180px;
    border-radius: 20px;
    cursor: pointer;
}

.choiceBox {
    display: inline-block;
    padding: 20px;;
    border: 2px solid #333;
    border-radius: 15px;
    width: 250px;
    background-color: #fff;
    font-size: 18px;
    color: #333;
}

.result {
    margin-top: 25px;
    font-size: 25px;
}